
<section>
    <h2> There are <%= books.length %> Books</h2>
    <h4>title: <%= books.title %></h4>
    <p>author: <%= books.author %></p>
    <img src="<%= books.image_url %>">
    <p>isbn: <%= books.isbn %></p>
    <p>description: <%= books.description %></p>
</section>